/*CSS reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, Arial, Helvetica, sans-serif;
}
/*Generics*/

body{
    background-color: #bdd9fdde;
}

header{
    background-color: white;
}

.container{
    max-width: 1000px;
    margin: 30px auto;
    background-color: white;
}

h1{
    display: inline; 
    font-size: 55px;
    vertical-align: middle;
    font-weight: 900;
}

a{
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 5px;
    
}

h2{
    display: inline;
}


/*header*/

#logo{
    height: 80px;
    width: 80px;
    vertical-align: middle;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
}

/*button link*/
.add-task{
    color: white;
    background-color: blue;
    border-style: solid;
    border-color: blue;
}

.add-section{
    color: gray;
    background-color: white;
    border-color: grey;
    border-style: solid;
}

.button{
    margin: 0 30px;
    padding: 20px 5px;
    vertical-align: middle;
}

/*separator*/
.separator{
    margin: 5px 0;
    border-width: 1px 0;
    border-style: solid;
    border-color: #bdd9fdde;
}

/*list*/
.list-task{
    list-style-type: none;
}

